pandas==1.5.3
scikit-learn==1.2.2
scipy==1.10.0
Pillow==9.4.0
pipreqs==0.4.13
colour==0.1.5
bokeh==3.0.3
joblib==1.2.0
jsonschema==4.17.3
numpy==1.24.2
streamlit==1.23.1
streamlit-lottie==0.0.3
urllib3==1.26.14
tqdm==4.64.1